body {
	font-family: Arial, sans-serif;
	background-image: url("../images/image/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
  }
  
.hr-lines:before
{
	content:" ";
	width: 130px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 0;
	background: black;
}
.hr-lines{
	position: relative;
	/*new lines*/
	max-width: 500px;
	margin: 50px auto;
	text-align: center;
}

.hr-lines:after
{
	content:" ";
	width: 130px;
	height: 2px;
	position: absolute;
	top: 50%;
	right: 0;
	background: black;
	display: block;
}

img.images{
	border-radius: 50%;
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	opacity: 0.75;
	margin: 50px;
}

img.images:hover{
	width: 400px;
}

img.images{
	width: 300px;
	height: 300px;
	background: lightgrey;
	transition: width 2s;
}

